* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    padding: 0;
    margin: 0;

}
html {
    scroll-behavior: smooth;
  }

section {

    padding: 80px;
    text-align: center;
    background: white;
    max-width: 1700px;
    margin: 0 auto;



}

header {

    font-family: "poppins", sams-serif;
    color: #333;
    display: flex;
    align-items: center;
    margin: 0 20px;
    margin-top: 10px;

}



.fa-laptop-code {
    font-size: 30px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fa-laptop-code:hover {
    background: linear-gradient(270deg, #109bff 0%, #0074b7 37.25%, #01386b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.navigation {
    flex-grow: 1;
    margin-left: 20px;
}

.navigation--item {
    text-decoration: none;
    color: #bdbdbd;
    margin-left: 24px;
    font-size: 20px;
}

.navigation--item:first-child {
    margin-left: none;
}

.navigation--item:hover {
    color: #753872;
}

.navigation--button {
    border: none;
    padding: 10px 36px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    border-radius: 50px;
    color: #ffff;
}

.menu-button {
    flex-grow: 1;
    display: none;
}

.menu-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 24px;
    display: none;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.mobile-navigation__open {
    transform: translateX(0);
}

.mobile-navigation--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.close-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation--item {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bdbdbd;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
}


.main {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1700px;

}

.main--content {
    flex: 1;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: "poppins", sams-serif;
    color: rgb(9, 9, 9);


}







.main--img {
    flex: 1;
}

.main--img img {
    width: 100%;
}

.headline {
    font-size: 62px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}



.headline2 {
    font-size: 42px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}



.download {
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px 36px;
    background: transparent;
    border-radius: 50px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.download:hover {

    background: linear-gradient(270deg, #109bff 0%, #0074b7 37.25%, #01386b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.download .fa {
    background: inherit;
    font-size: 1.25rem;
    margin-right: 6px;
}








.Text-about p {
    font-size: 18px;
    text-align: justify;
    font-family: "poppins", sams-serif;
    margin: 0 20px;
    padding: 0;

}



.skill__title {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    font-family: "poppins", sams-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(9, 9, 9);
}

.about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.skill__item {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 65px;
    min-width: 130px;
    height: 180px;
}


.skill__item img {

    width: 45px;

}

.skill__item .logo {
    width: 65px;
}



.skill__name {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    font-family: "poppins", sams-serif;
}


.fa-node {
    color: #3C873A;
}

.fa-js {
    color: rgb(225, 225, 0);
}

.fa-git-alt {
    color: #ff2222;
}

.fa-html5 {
    color: #fa863e;
    margin-left: 10px;
}

.fa-css3-alt {
    color: #3633ef;
}

.fa-java {
    color: #3633ef;
}

.fa-react {
    color: #33aaef;
}

.fa-mobile-screen {
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-mobile-screen:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fa-palette {
    background: linear-gradient(270deg, #abbe2f 0%, #4ca912 37.25%, #a1ff75 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-palette:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-code {
    background: linear-gradient(270deg, #de8aff 0%, #a931ff 37.25%, #8700cb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-code:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-thumbs-up {
    background: linear-gradient(270deg, #8abbff 0%, #315eff 37.25%, #0033cb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-thumbs-up:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-rocket {
    background: linear-gradient(270deg, #ff8aa7 0%, #ff316b 37.25%, #cb0003 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-rocket:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-gear {
    background: linear-gradient(270deg, #ffeb0c 0%, #e0ff31 37.25%, #a2cb00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;

}

.fa-gear:hover {
    background: linear-gradient(270deg, #5f5f5f 0%, #3d3d3d 37.25%, #212121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;


}

.services__item {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 65px;
    width: 100%;
    height: 100%;

}



.services__item h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "poppins", sams-serif;
}

.services__item p {
    font-size: 15px;
    text-align: center;
    font-family: "poppins", sams-serif;
    margin: 0;
    padding: 0;
}



.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;

}

.card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(37, 37, 37, 0.818);
  }



.card img {
    width: 400px;
    height: 230px;
}

.card h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "poppins", sams-serif;
}

.card p {
    font-size: 15px;
    text-align: justify;
    font-family: "poppins", sams-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.link {
    font-family: "poppins", sams-serif;
    display: flex;
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px 36px;
    border-radius: 50px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.link .fab {
    margin-right: 6px;
}

footer{
    display: block;
    background-color: #262626;
    text-align: center;
}

footer h1{
    font-size: 32px;
    font-weight: 500;
    font-family: "poppins", sams-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer p{
    font-family: "poppins", sams-serif;
    font-size: 12px;
    margin-top: 20px;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials--item{
    font-family: "poppins", sams-serif;
    font-size: 25px;
    margin: 0 20px;
    margin-bottom: 20px;
    align-items: center;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}




@media only screen and (max-width:600px) {
    .main {
        display: block;

    }

    .download {
        font-size: 15px;
        padding: 10px 25px;
    }

    .fa {
        display: none;
    }

    .download .fa {
        display: block;
    }

    .headline {
        font-size: 42px;
    }

    .headline2 {
        font-size: 32px;
    }



    .navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 1293px) {



    .about__skills {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;



    }

    .services {
        grid-template-columns: 1fr 1fr;
    }




}



@media (max-width: 1700px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
}
@media (max-width: 1100px) {
    .card-grid {
        grid-template-columns: 1fr;
        margin: 0;
    
    
    }

    

    
}




@media (max-width: 600px) {
    .about__skills {
        grid-template-columns: 1fr 1fr;
        gap: 10px;



    }

    section{
        padding: 30px;
    }

    


    .services {
        grid-template-columns: 1fr;
        

    }
    .card img {
        width: 300px;
        height: 180px;
    }
   
    

    .skill__item {
        font-size: 50px;
        padding: 5px;
        min-width: 75px;
        height: 85px;
        margin-bottom: 25px;
    }

}

@media (max-width: 400px) {
    .card img {
        width: 200px;
        height: 120px;
    }
}


